* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #0a0a0a;
  color: #f0f0f0;
}

p {
  font-size: 14pt;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  text-align: center;
  line-height: 1.6em;
}

/* HOME PAGE */
header {
  display: flex;
  background-color: #0f3c5a8a;
  backdrop-filter: blur(3px);
}

nav {
  display: inline block;
  flex: 50%;
  margin-bottom: 25px;
}

nav ul {
  padding: 0px 20px;
  text-align: right;
}

nav ul li {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-variant: small-caps;
  font-weight: 400;
  font-size: 16pt;
  letter-spacing: 4px;
  margin: 24px 40px 0px 0px;
}

header #logo {
  display: inline-block;
  margin: 24px 0px 0px 30px;
  height: 3.5%;
  width: 3.5%;
}

#logo-gold {
  display: none;
}

header #logo:hover #logo-gold {
  display: inline-block;
}
header #logo:hover #logo-white {
  display: none;
}

img {
  width: 100%;
}

ul li a:link {
  color: #ffffff;
  text-decoration: none;
}

ul li a:hover {
  color: #ffca4d;
}

a:visited {
  color: #ffffff;
}

.content {
  text-align: center;
  padding-bottom: 20px;
}

#home-img {
  width: 100%;
  filter: blur(8px);
  -webkit-filter: blur(2px);
}

#home-img-mobile {
  display: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  /* transition-delay: 0.5s; */
}

.sticky + .content {
  padding-top: 70px;
}

.main-pages img {
  display: block;
  justify-content: center;
  width: 100%;
}

.centered {
  font-family: "Raleway", sans-serif;
  font-variant: small-caps;
  font-size: 66pt;
  letter-spacing: 10px;
  align-content: center;
  color: white;
  position: absolute;
  top: 53%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.centered #main-logo {
  width: 11%;
  /* margin-left: 50%; */
  padding-top: 60px;
}

.centered h1 {
  text-align: center;
  font-weight: 200;
}

#tagline {
  font-family: "Lato", sans-serif;
  font-size: 18pt;
  font-variant: normal;
  text-align: center;
  letter-spacing: 0px;
  padding-top: 44px;
}

.main-buttons img {
  display: inline-block;
}

/* FOOTER */
footer {
  align-content: center;
  text-align: center;
  padding-top: 30px;
}

footer p {
  letter-spacing: 2px;
}

.footer-contact img {
  height: 30px;
  width: 30px;
  padding: 20px 10px 60px 10px;
}

/* OTHER PAGES */
.pages {
  margin: 30px 300px;
}

#about-page p {
  text-align: center;
  padding: 0px 30px;
}

.line-break {
  margin-bottom: 10px;
}

.line-break ul li {
  list-style-type: none;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-variant: small-caps;
  font-size: 40pt;
  font-weight: 300;
  letter-spacing: 4px;
  margin: 24px 0px;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 18pt;
  padding: 30px 0px 14px 0px;
}

a:link {
  color: #ffffff;
}

a:hover {
  color: #ffca4d;
}

a:visited {
  color: #ffffff;
}

#asterisk {
  font-size: 10pt;
}

/* MEMBERS */
.row {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  padding: 20px 0px;
}

.row h3 {
  font-variant: small-caps;
  font-size: 14pt;
  padding: 6px 0px;
  background-color: #0f3c5a;
}

.row p {
  font-size: 12pt;
}

/* .row em {
  font-variant: normal;
  font-size: 13pt;
} */

.col {
  padding: 0px 24px;
  width: 24%;
}

.col img {
  /* border-radius: 300px; */
  height: 200px;
  width: 200px;
  padding: 10px 0px;
}

.mem-tag {
  padding: 5px 0px;
}

/* PAGE TRANSITION */
#mless-fader {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* MOBILE DESIGN */
@media (max-width: 600px) {
  nav ul {
    padding: 0px 0px;
    text-align: right;
  }

  nav ul li {
    font-weight: 600;
    font-size: 10pt;
    letter-spacing: 2px;
    margin: 20px 8px 0px 0px;
  }

  header #logo {
    margin: 20px 0px 0px 14px;
    height: 9%;
    width: 9%;
  }

  #home-img {
    display: none;
  }
  #home-img-mobile {
    display: block;
    width: 100%;
    filter: blur(8px);
    -webkit-filter: blur(2px);
  }

  .centered {
    letter-spacing: 2px;
    top: 42%;
    left: 48%;
    width: 80%;
  }

  .centered h1 {
    text-align: center;
    font-size: 50px;
    /* font-weight: 100; */
  }

  #tagline {
    font-size: 13pt;
    font-weight: 300;
    font-variant: normal;
    text-align: center;
    letter-spacing: 0px;
    padding-top: 44px;
  }

  .centered #main-logo {
    display: none;
    width: 80%;
  }

  .sticky + .content {
    padding-top: 61px;
  }

  /* FOOTER */
  footer {
    align-content: center;
    text-align: center;
    padding-top: 0px;
  }

  .footer-contact img {
    height: 22px;
    width: 22px;
    padding: 14px 8px 20px 8px;
  }

  /* PAGES */
  .pages {
    margin: 30px 14px;
  }

  h2 {
    font-size: 22pt;
    font-weight: 400;
    letter-spacing: 4px;
    margin: 14px 0px;
  }

  p {
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.6em;
  }

  #about-page p {
    font-size: 10pt;
  }

  /* MEMBERS */
  .row {
    display: flex;
    padding: 0px 0px;
  }

  .row h3 {
    font-weight: 400;
    font-size: 10pt;
    padding: 0px 0px 4px 0px;
    background-color: #0f3c5abb;
  }

  .row p {
    font-size: 6pt;
  }

  .mem-tag {
    padding: 3px 0px;
  }

  .col {
    padding: 4px 14px;
    width: 25%;
  }

  .col img {
    height: 80px;
    width: 80px;
    padding: 0px 0px;
  }
}
